<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.greenwallet.business">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".app.Application"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".scenes.onboarding.OnboardingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".scenes.login.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".scenes.shopgreen.ShopGreenActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".scenes.searchProducts.SearchProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".scenes.redeem.RedeemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".scenes.productFeatures.ProductFeaturesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".scenes.basket.BasketActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".scenes.checkout.CheckoutActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>